<div class="content" role="main">
  <div class="section">
    <span class="heading">¡Where it all began!</span>
    <div class="par1">
      In the early days of the pandemic, when the world came to a halt, I found
      myself scrolling through the endless void of the internet. Suddenly, a
      word caught my attention: "Android Studio". Intrigued, I downloaded it and
      started tinkering with the demo app. Hours flew by as I delved deeper into
      the world of app development. When it was time for lunch, I couldn't bear
      to tear myself away from my newfound passion.
      <!-- In the early days of the pandemic, totally locked down, one morning while
      surfing the web, a word, "Android Studio", got my attention. I downloaded
      it. While playing with the demo app, Suddenly, it was lunch time and I
      DIDN'T want to eat.
      <br />What happened? I had no idea. Still playing with the app -->
    </div>

    <img class="text-center" src="assets/gato.gif" width="170" height="200" />
    <div class="par2">
      And when dinnertime rolled around, I realized I had skipped a meal
      entirely! That's when I knew I had found something special. As I looked
      back to my days as a computer science student, co-founding a startup to
      digitize local businesses, I realized that my old passion had been
      reignited.
      <!-- now it's dinner time and I'm still not hungry. What's going on here?
      <br />To get the answer, I had to travel 22 years back in time, when while
      studying Computer Science, together with a friend, we created a
      <span class="italic">startup to digitize </span> local companies, which I
      left when I moved to Barcelona. <br />!! Suddenly I realised, it was the
      reawakening of <strong class="bold">my old passion!!</strong> -->
    </div>
  </div>

  <div class="section">
    <span class="heading align-right">¡Where I stand now!</span>
    <div class="par1">
      As a full stack developer with over 3 years of experience, I'm on a
      mission to make the world a better place through technology. Whether it's
      creating
      <span class="italic">ERP systems or emergency services software </span>,
      I'm passionate about using my skills to solve problems and improve
      processes.
      <br />
      In my most recent position at Unblur, I helped
      <span class="italic"
        >migrate the company's emergency services software </span
      >to Angular 13 while focusing on scalability and best practices. I also
      took charge of implementing SSO, including server setups and cloud
      management, in an agile environment using scrum principles.
      <br />
      Prior to that, I successfully remade one of MB-TECH's major apps, an
      <span class="italic">ERP system</span>, as a PWA. I analyzed, proposed,
      selected technologies, fully developed, and hosted the project, making
      significant contributions despite learning on the job.
      <!-- The start-up, "MB-TECH", is still alive and continuing to offer solutions
      to local companies. However, back at the beginning of the pandemic, it was
      in need of innovation. So I took up the challenge to
      <span class="italic">remake</span> one of their VB based major apps (a
      very complete <span class="bold">ERP</span>) as a
      <span class="bold">PWA</span>, details of which can be found in the
      "Projects" tab. <br />Although I've been
      <span class="bold">learning by doing</span>, I've been able to work as a
      <span class="italic">full stack</span> developer at a
      <span class="italic">decent pace</span> on this project. -->
    </div>
  </div>
  <div class="section">
    <!-- <span class="heading">Interests</span> -->
    <div class="par2 margin-top">
      In addition to these positions, I've also completed
      <span class="italic">various freelance projects</span>, working alone and
      handling every aspect of the project from analysis to development.
      <br />
      As a reliable and dedicated team member, I'm committed to delivering
      high-quality work and staying focused and productive throughout the
      workday. I'm also always eager to learn and improve my skills, and I take
      pride in collaborating with others to ensure successful outcomes.
      <br />
      Check out the "Projects" tab to see more details on my recent work, and
      feel free to reach out to me if you're interested in working together.
      Let's create something amazing!
      <!-- I am currently, doing a "Google Digital Workshop" called
      <span class="italic">"Fundamentals of Digital Marketing"</span> as well as
      looking forward to attending courses related to
      <span class="bold">React Native</span>. I am also actively enhancing my
      knowledge of
      <span class="italic">Redux based state control using</span> (Ngrx ||
      Ngxs). -->
    </div>
  </div>

  <span class="heading text-center">Hobbies</span>
  <div class="hobbies">
    <div class="bg1">
      <div class="caption1">Ultimate Frisbee</div>
    </div>
    <div class="bg2">
      <div class="caption2">Snow Boarding</div>
    </div>
    <div class="bg3">
      <div class="caption3">Mountains</div>
    </div>
    <div class="bg4">
      <div class="caption4">Music Festivals</div>
    </div>
  </div>
</div>

<!-- As a full stack developer with over 3 years of experience, I have had the
      opportunity to work on a wide variety of projects, ranging from ERP
      systems to emergency services software. I have worked with multiple
      technologies including Angular, Typescript, .NET, C# and SQL.
      <br />
      In my most recent position at Unblur, I've collaborated on migrating the
      company's emergency services software from AngularJS to Angular 13. I also
      developed new features with a focus on scalability and best practices, and
      was in charge of implementing SSO, including server setups and cloud
      management. Throughout this project, I worked in an agile environment
      using scrum principles.
      <br />
      Prior to this role, I worked as a full stack developer at MB-TECH, where I
      took on the challenge of remaking one of their major apps, an ERP system,
      as a PWA. I handled everything from analysis and proposal to technology
      selection, full development and hosting. Despite learning on the job, I
      was able to work at a decent pace and make significant contributions to
      the project.
      <br />
      In addition to these positions, I also successfully completed various
      freelance projects, working alone and handling every aspect of the project
      from analysis to development. -->

<!-- I am confident that my experience, technical skills, and passion for software
      development make me a strong candidate for this position.
      Thank you for considering my application.  -->
<!-- <br />
      I am motivated by using technology to solve problems and improve
      processes, and I am always eager to learn and improve my skills. With my
      strong technical abilities and effective communication skills, I am able
      to work collaboratively with colleagues and clients alike to ensure
      high-quality project outcomes.
      <br />
      I take pride in my strong work ethic, commitment to delivering
      high-quality work, and ability to stay focused and productive throughout
      the workday. As a reliable and dedicated team member, I strive to
      collaborate with others and contribute to the success of our projects. By
      maintaining an open mind and a willingness to learn, I am able to bring
      fresh ideas and perspectives to the table, which has led to successful
      outcomes and positive feedback from both clients and colleagues.
      <br />
      Check out the "Projects" tab to see more details on my recent work. -->
