<div class="a4">
    <div class="main">
        <p class="motivation">Tireless, responsive and perseverant with a go-getter mindset, 
            seeking new career challenges as a full stack web app developer. I am result oriented, 
            good at handling pressure, solving problems, fast learner and strive 
            continually for excellence.
            <!-- I am a result oriented team player, keen to learn from new experiences and enhance my current skillset. -->
             <!-- and work to my full potential and efficiency. -->
        </p>
        <h1>Professional Experience</h1>

        <div class="flexboxes">
            <h2>Full stack web app Developer - Freelance</h2><p>July 2020 - Present</p>
        </div>
        <p>For: <span class="company">BB for Investors</span></p>
        <ul>
            <li>Portfolio for Real Estate investors / Sept 21</li>
            <ul>
                <li>Multi-language "Serverless" site with total autonomy for the client to add, 
                    edit or delete their projects (dynamically categorized in separate tabs) 
                    and news, upload photos, create users, personalized quotations & dashboards.</li>
                <li>Angular, Firebase authentication, storage and Firestore cloud...</li>
            </ul>
        </ul>
        <br>
        <p>For: <span class="company">MB Tech</span></p>
        <ul>
            <li>Financial Reporting & Business analytical dashboard app / Jan 21 - Mar 21 </li>
                <ul>
                    <li>Financial Reporting & Business analytical dashboard app</li>
                    <li>Angular, ASP.NET, SAP Crystal Reports, IIS hosting...</li>
                </ul>
            <li>ERP / Jul 20 - Dec 20</li>
                <ul>
                    <li>An ERP which integrates Finance, Purchase, Sales & Production 
                        departments and provide 50+ reports for full business control.</li>
                    <li>Angular, .NET Core, ASP.NET, SAP Crystal Reports, IIS hosting...</li>
                </ul>

                <span>Detailed summary in Portfolio (link at the bottom)</span>
        </ul>
        <br>
        
        <div class="flexboxes">
            <h2>Barceló Hotels Group</h2>
            <p>May 2006 - July 2020</p>
        </div>
        <p>Several departments</p>
        <ul>
            <li>Managing individual bookings and quotations</li>
            <li>Client attention through email, phone and in person</li>
            <li>New staff training</li>
            <li>Event Organizing</li>
            <li>Providing services in several F&B departments</li>
        </ul>
        <br>

        <h1 class="printPageMargin">Education</h1>
        <!-- <div class="flexboxes">
            <h2>Bachelor in Computer Science</h2>
            <p>September 2001 - March 2002</p>
        </div>
        <p>Allama Iqbal open university - Islamabad, Pakistan</p>
        <ul>
            <li>All the optional subjects were related to finance & statistics</li>
            <li>Only 15% of the course was completed</li>
        </ul>
        <br> -->
        <div class="flexboxes">
            <h2>Current focus</h2>
        </div>
        <ul>
            <li>Learning Scrum from Cibernarium - Barcelona Activa</li>
            <li>Jasmine - learning and testing on my recent project</li>
            <li>Redux - After finishing unit testing, will learn and apply Ngrx on my last project</li>
        </ul>
        <br>
        
        <div class="flexboxes">
            <h2>MDN Docs</h2>
            <p>May 2020 - July 2020</p>
        </div>
        <ul>
            <li>Studied the complete tutorial 'Become a Front-End Developer'</li>
        </ul>
        <br>
        
        <div class="flexboxes">
            <h2>Intermediate in Computer Science</h2>
            <p>September 1999 - March 2001</p>
        </div>
        <p>Govt Murray Collage - Sialkot, Pakistan</p>
        <ul>
            <li>All the optional subjects were related to finance & statistics</li>
            <li>Co-founded a tech company "MB-TECH". Participated in multiple projects as a member</li>
        </ul>
        <br>

        <h1>Interests</h1>

        <ul>
            <li>Keeping me up-to-date with new technologies</li>
            <li>Commitee member of Barcelona ultimate frisbee club. Playing and training students.</li>
            <li>Playing badminton and Padel</li>
            <li>Other interests: hiking, skiing, arcade games, running and cycling</li>
        </ul>

        <h1>Links</h1>
        <br>
        Portfolio: <a href="https://pikuman-portfolio.netlify.app"> https://pikuman-portfolio.netlify.app</a>
        <br>
        Linkedin: <a href="https://linkedin.com/in/wahab-anjum-47497675"> https://linkedin.com/in/wahab-anjum-47497675</a>
        <br>
        Current Project:
        <li>Follow-up temporary URL: https://bbinvestors.netlify.app</li>
        <li>Proposal: https://pikuman-portfolio.netlify.app/propuestaBB</li>
        <li>Github: https://github.com/pikuman83/bbInvestors</li>
        <a class="hideOnPrint" href="../../assets/CV-Wahab13-10-21.pdf" 
            download="" title="Download CV" style="margin-top: 20px;">
            <img src="../../assets/download.png" title="Download"></a>
    </div>
    <div class="sidecol">
        <div class="profileCV">
            <img src="../../assets/profileCV.jpeg" width="160" height="200">
            <h2>Wahab Anjum</h2>
            <h6>Full stack web app developer</h6>
        </div>
        
        <h1>Hard Skills</h1>
        <div class="divider"></div>
        <h2>Front-end</h2>
        <ul>
            <li>Angular Framework</li>
            <li>Typescript</li>
            <li>Javascript</li>
            <li>Ngrx</li>
            <li>Jasmine</li>
            <li>Rxjs</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>Html</li>
        </ul>
        <h2>VCS / Others</h2>
        <ul>
            <li>Git</li>
            <li>GitHub</li>
            <li>Scrum</li>
        </ul>
        <h2>Back-end</h2>
        <ul>
            <li>.NET Core / Asp.NET</li>
            <li>C#</li>
            <li>Firebase</li>
            <li>MVC</li>
            <li>LINQ</li>
            <li>MSSQL</li>
        </ul>
        
        <h2>Cloud</h2>
        <ul>
            <li>Azure</li>
            <li>Firebase</li>
            <li>smarterasp.net</li>
            <li>Netlify</li>
            <li>IIS</li>
        </ul>

        <h2>IDEs / Libraries</h2>
        <ul>
            <li>VS Code</li>
            <li>Visual Studio</li>
            <li>MSSQL Management Studio</li>
            <li>Angular Material</li>
            <li>Ngx Charts</li>
        </ul>
        
        <br>
        
        <h1>Soft Skills</h1>
        <div class="divider"></div>
        <p>Organized & Self-demanding</p>
        <p>Problem solving</p>
        <p>Experienced teamworker</p>
        <p>Analytical mindset</p>
        <p>Hard-worker</p>
        <br>

        <h1>Languages</h1>
        <div class="divider"></div>
        <p id="language">Spanish: Professional Proficiency</p>
        <p>English: Advanced</p>
        <p>Catalan: Intermediate</p>
        <p>Urdu/Hindi: Native</p>
        <p>Punjabi: Native</p>
        <br>

        <h1>Contact</h1>
        <div class="divider"></div>
        <div class="flexboxes">
            <img src="../../assets/icons8-home-24.png">
            <p>Barcelona - Spain</p>
        </div>
        <div class="flexboxes">
            <img src="../../assets/icons8-phone-24.png">
            <p>(+34) 600 731 531</p>
        </div>
        <div class="flexboxes">
            <img src="../../assets/icons8-email-24.png">
            <p id="email">wahab_anjum[at]hotmail.com</p>
        </div>
    </div>
</div>