.title{
    width: 95%;
    margin: 0 auto;
}
.heading{
    display: block;
    font-size: 4rem;
    line-height: 100%;
    color: white;
    padding-top: 60px;
}
.header{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content:space-between;
    padding-top: 30px;
    /* margin-bottom: 124px; */
    align-items: flex-start ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
.caption{
    color:white;
    font-size: small;
}
.par-left{
    line-height: 160%;
    max-width: 50%;
}
.pd-30-60{
    margin: 60px 30px;
}
.align-right{
    align-self: flex-end;
}
.img{
    margin: 0 auto;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 4px 6px lightgray);
}
.img1{
    width: 95%;
    padding-top: 46.5%;
    background-image: url(../../../assets/bbInv/bbNews-public.png);
    opacity: 1;
    margin: 30px auto;
    border-radius: 4px;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}
.img3{
    width: 95%;
    padding-top: 61.9%;
    background-image: url(../../../assets/bbInv/home.png);
    opacity: 0.9;
}
.img6{
    width: 95%;
    padding-top: 58.9%;
    background-image: url(../../../assets/bbInv/form.png);
    opacity: 0.9;
}
.img7{
    width: 95%;
    padding-top: 117.5%;
    background-image: url(../../../assets/bbInv/login.png);
    opacity: 0.9;
}
.img8{
    width: 95%;
    padding-top: 51.37%;
    background-image: url(../../../assets/bbInv/contact-tab.png);
    opacity: 0.9;
    margin-bottom: 60px;
}
.inner-container1{
    background-color:white;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    border-radius: 4px;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}
.section2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: calc(100% - 280px);
}
.problem{
    max-width: 100%;
}
.reports{
    text-align: center;
    margin: 60px;
}
.briefing{
    display: flex;
    flex-direction: column;
    width: 280px;
    /* color: gray; */
    margin: none;
    background-color: #f5f5f5;
    padding: 8px;
    padding-top: 36px;
    justify-content:flex-start;
    border-radius: 0 4px 4px 0;
}   
.tech{
    display: block;
}
li{
    margin-left: 40px;
    line-height: 2rem;
}
.routeMap{
    margin: 8px;
}
.billi{
    padding-top: 16px;
}
.github:hover{
    filter: invert(1);
}
@media screen and (max-width: 767px){
    .section2{
        max-width: unset;
        width: 95%;
        padding: 24px 8px 8px 8px;
    }
    .briefing{
        display: block;
        width: 95%;
        margin: 0 auto;
    }
    .collage{
        display: block;
        margin: 0 auto;
        text-align: center;
        background-position-x: center;
        width: 95%;
    }
    h2{font-size: medium;font-weight: 600;}
    ul{padding: 0;}
    .heading{font-size: 4rem;}
    .header{display: block;}
    .par-left{max-width: 95%;}
    .header .par-left{padding-top: 30px;}
    .mb-60{margin-bottom: 30px;}
    .mt-60{margin-top: 60px;}
    .inner-container1{display: block;}
    .img3, .img4, .img5{
        position: unset;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        margin: 30px auto;
        text-align: center;
    }
    .img4{background-position: right;}
    .img3{background-position: center;}
    .pd-30-60{margin: 60px auto;}
    .reports{width: 95%;margin: 60px auto;}
}
@media screen and (max-width: 576px){
    .heading{font-size: 2.6rem;}
}