<div style="max-width: 1200px; margin: 0 auto;position: relative;">
    <div class="route">
        <a routerLink="/profile" title="Back to projects"><img src="../../../assets/left-arrow.png"></a>
    </div>

    <div class="title">
        <span class="heading">BB for Investors</span>
    </div>
    <div class="header">
        <div class="caption">
            Portfolio
            <br>Progressive Web App
            <br>September 2021
        </div>

        <div class="par-left">
            A multi-language portfolio for Real Estate investors, with a decent color theme and 
            <span class="italic">fully automated, fast & "serverless" projects & news 
            publishment</span>. 
            The app also <span class="italic">manage users</span> under a secured 
            environment, providing full control to admin to propose rates & services either to a 
            <span class="italic">specific user as private</span> or publically.
        </div>
    </div>

    <div class="img img1 mb-60"></div>

    <div class="inner-container1">
        <div class="section2">
            <div class="par-left pd-30-60">
                A freelance solo project made for BB for Investors (part of Sotheby's Realty). 
                A <span class="italic">fully responsive</span> portfolio, delivered on half of 
                the agreed time. The client could follow-up the work progress from the very 
                first day through <a href="https://bbinvestors.netlify.app" target="_blank" 
                rel="noopener noreferrer" title="https://bbinvestors.netlify.app">this</a>
                <span class="italic"> CI</span> enabled temporary url<br>
            </div>

            <div class="img img3"></div>

            <div class="par-left align-right pd-30-60">
                Apart of shared module, the app is divided into 2 sections. 
                In the static section, each div has been revised several times from xxs to xxl, 
                making use of <span class="italic"> block, flexBox & grid</span>.<br>
                The projects section is separated into a lazy loaded module. It integrates data through 
                a simple form, only available to the <span class="italic">admin's scope and generates 
                dashboards</span> automatically for each user and/or publish it as projects, 
                dynamically divided by cities into separate tabs available to all public.
            </div>

            <div class="img img6"></div>

            <div class="par-left pd-30-60">
                Security has been taken care of meticulously in all it's phases, 
                in visibility, methods, paths and headers with efficient authenticated 
                <span class="italic">user state control</span> on front end.
                On the backend, each data & storage CRUD has been protected by 
                <span class="italic">personalized rules & role</span> based access.
            </div>

            <div class="img img7"></div>

            <div class="reports">
                Auto <span class="italic">email trigger</span> using firebase functions & sendGrid SMTP.
            </div>

            <div class="img img8"></div>
        </div>
        <div class="briefing">
            <div class="services">
                <h2>Services</h2>
                <p>Initial analysis</p>
                <p>Full Project Management</p>
                <p>Frontend Development</p>
                <p>Data structure & Backend Development </p>
                <p>Deployment & Hosting</p>
            </div>
            <div class="services">
                <br>
                <br>
                <h2>Tools</h2>
                <p>Angular Framework ^12.2.0</p>
                <p>Firebase</p>
                <p>AngularFireAuth</p>
                <p>AngularFireStorage</p>
                <p>Angular Material</p>
                <p>img-comparison-slider</p>
                <p>Google recaptcha v2</p>
                <p>country-phone-prefix</p>
                <p>Rxjs</p>
                <p>Angular native i18n</p>
                <p>Click to call (by Zadarma)</p>
                <p>SendGrid SMTP</p>
                <br>
                <br>
                <h2>Data</h2>
                <p>Cloud Firestore</p>
                <p>Firestore Query Api</p>
                <br>
                <br>
            </div>
            <div class="tech">
                <h2>Languages</h2>
                <img src="../../../assets/bbInv/languages.png" alt="languages" width="280px">
            </div>
            <br>
            <br>
            <a href="https://bbinvestors.netlify.app" target="_blank" title="https://bbinvestors.netlify.app" rel="noopener noreferrer"><h2>Demo</h2></a>
            <a href="https://github.com/pikuman83/bbInvestors" 
                target="_blank" rel="noopener" class="github"
                title="Click to open the github repository of the project">
                <img class="billi" src="../../../assets/icons8-github-48.png"></a>
        </div>             
    </div>
</div>