<p>
    <strong>MB-Executive </strong>
    This PWA delivers reports & resume the most common data in the shape of dashboard to the Executives.
    <br>The frontend is developed using Angular framework, ASP.NET to connect to the MSSQL database, to create resources
    and to read and export reports made in SAP Crystal Reports.
    <br>In terms of languages, the code marked up by HTML has been decorated through CSS and Bootstrap, 
    TypeScript & JavaScript has brought the logic to the frontend, C# has taken care of the backend and 
    SQL Queries & LINQ to analise data. 
    <br>It has been deployed and hosted on the company's personal server through IIS.
    <br>Local storage, Session storage, Singleton Services are used to structure, store and handle the data on the client side.
    <br>A Splash screen showing log is used with "Resolver" to load the data and dashboard on the app start.
    <br>Ngx-charts to enhance the view of the landing page and Angular material has broght the rest of the elegance. 
    <br>Frontend routes has been secured by guard, the user is validated through JWT and the http interceptor adds the token 
    to all the calls to the server. 
    Also 20 minutes inactivity logout at the client side and a 2 hours token expiration on the server has been added.
    <br>For the web, manifest.webmanifest has personalized the app, also a manual installation prompt and instructions has been added.
    <br>The code can be viewed on the following Github;
    <br><a href="https://github.com/pikuman83/mbExecutive">MB-Executive</a>
</p>
<p>PD: All the above mentioned development has been made by me except majority of SQL queries and Report designing on SAP</p>