<div class="header">
    <h2>MB-EXECUTIVE</h2>
    <h1>Financial Dashboard & Reports</h1>
    <img class="img-shadow" alt="ERP" (window.resize)="respWidthP($event)" src="../../../assets/dashboard-charts.png" [width]="width">
</div>

<div class="inner-container">
    <div class="briefing">
        <div class="tech">
            <h2>TECHNOLOGIES</h2>
            <p>ASP.NET</p>
            <p>Angular Framework</p>
            <p>MSSQL</p>
            <p>SAP Crystal Reports</p>
            <p>Bootstrap</p>
        </div>
        <div class="services">
            <h2>SERVICES</h2>
            <p>Project Management</p>
            <p>Frontend Development</p>
            <p>Backend Development</p>
            <p>Deployments & Hostings</p>
        </div>
    </div>
    <div class="section3">
        <p class="heading1">Overview</p>
        <p>This PWA not only streamlines financial reporting, it also combines multiple sources of data to provide a 
            complete and accurate financial picture providing a high-level visualization of KPIs, using real-time 
            data within any range of dates, directly from the dashboard.
            It puts the power of sophisticated data analytics for advanced forecasting, budgeting and planning 
            directly into the hands of executives or financial analysts.
        </p>
        
        <p class="heading1">Key Challenges</p>
        <p> 
            Performing calculations on large datasets. Pitch and Performance tracking 
            data visualisation, according to different sets of parameters.
            Presenting users with the opportunity to manage, analyse and optimise data in runtime and real-time.
            Some other technical challenges were securing the API, State Control using singleton Services, 
            asynchronous task processing, SAP crystal reports incorporation using FOC tools & Ngx-charts Incorporation, 
            Default date ranges, scalability and Hosting.
        </p>
        
        <div class="central-image">
            <img src="../../../assets/dashboardTop.png" alt="MBFW" [width]="width"> 
        </div>
        
        <p class="heading1">Development & Tools</p>
        <ul>
            <li>The frontend is developed using Angular framework, ASP.Net is used to connect to the 
                MSSQL database, to create resources and to read and export reports made 
                in SAP Crystal Reports</li>
            <li>In terms of languages, the code marked up by HTML has been decorated through CSS and Bootstrap, 
            TypeScript & JavaScript has brought the logic to the frontend under Angular Framework, C# has taken 
            care of the backend and SQL Queries to analise data</li>
            <li>The app is hosted on the company's personal server through IIS</li>
            <li>Local storage, Session storage and Singleton Services are used to store and handle the data on the client side</li>
            <li>A Splash screen showing log is used with "Resolver" to load the data and dashboard on the app start</li>
            <li>Ngx-charts to enhance the view of the landing page</li>
            <li>Angular material has brought the elegance</li>
            <li>Frontend routes has been secured by guard and http interceptor, the user is validated through JWT.
                Also a 20 minutes inactivity logout at the client side and a 2 hours token expiration has been added</li>
            <li>For the web, manifest.webmanifest has personalized the app installation, 
                also a manual installation prompt and instructions has been added</li>
        </ul>

        <p class="heading1">Timeline</p>
        <p>
            Project started at the beginning of January 2021 and took less than 30 days to be completed.
            Some new reports were ordered by the client and were incorporated by the time.
        </p>

    <p class="heading1">Github</p>
    <ul>
        <li><a href="https://github.com/pikuman83/mbExecutive">MB-Executive</a></li>
    </ul>
         
    <footer>
        PD: All the above mentioned development has been made by me except majority of SQL queries and Report designing on SAP
    </footer>
    </div>
</div>