.title{
    width: 95%;
    margin: 0 auto;
}
.heading{
    display: block;
    font-size: 6rem;
    line-height: 6rem;
    color: white;
    padding-top: 160px;
}
.header{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content:space-between;
    padding-top: 60px;
    margin-bottom: 160px;
    align-items: flex-start ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
.caption{
    color:white;
    font-size: small;
}
.par-left{
    max-width: 50%;
    padding: 24px;
    margin-bottom: 100px;
}
.align-right{
    align-self: flex-end;
    margin-top: 250px;
}
.img{
    margin: 0 auto;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.img1{
    width: 95%;
    padding-top: 70%;
    background-image: url(../../../assets/dashboard-charts.png);
    opacity: 0.9;
}
.collage{
    display: flex;
}
.img2{
    width: 100%;
    padding-top: 41%;
    background-image: url(../../../assets/dashboardTop.png);
}
.img3{
    width: 33.3%;
    padding-top: 81%;
    background-repeat: no-repeat;
    background-image: url(../../../assets/dashboard-login.png);
    background-size: contain;
    position: relative;
    top: 300px;
}
.img4{
    width: 33.3%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 81%;
    background-image: url(../../../assets/dashboard-mobile.png);
    position: relative;
    top: 500px;
}
.img5{
    width: 33.3%;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 81%;
    background-image: url(../../../assets/dashboard-mob-daterange.png);
    position: relative;
    top: 50px;
}
.img6{
    width: 100%;
    padding-top: 49%;
    background-image: url(../../../assets/dashboard-dialogue.png);
    opacity: 0.9;
}
.inner-container1{
    background-color:white;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
}
.section2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    /* padding: 36px; */
    display: flex;
    flex-direction: column;
    max-width: 70%;
}
.problem{
    max-width: 100%;
}
.reports{
    text-align: center;
    margin: 100px;
}
.briefing{
    display: flex;
    flex-direction: column;
    color: gray;
    margin: 0 auto;
    padding-top: 36px;
    background-color: #f5f5f5;
    padding: 36px;
}
.tech{
    display: block;
}

/* .services, .tech{
    border-left: 1px lightgray solid;
    padding: 0 8px 0 8px;
} */
li{
    margin-left: 40px;
    line-height: 2rem;
}
.central-image{
    /* display: flex; */
    /* margin: 48px 0 48px 0; */
    /* justify-content: center; */
    margin: 0 auto;
}
.routeMap{
    margin: 8px;
}
.billi{
    padding-top: 16px;
}
@media screen and (max-width: 767px){
    .section3{
        max-width: 90%;
    }
    .section2{
        max-width: unset;
        padding: 24px 8px 8px 8px;
        /* margin-top: 60px; */
    }
    .briefing{
        display: block;
        max-width: unset;
        margin: 0 auto;
    }
    .collage{
        display: block;
    }
    h2{
        font-size: medium;
        font-weight: 600;
    }
    ul{
        padding: 0;
    }
    .heading{
        font-size: 4rem;
    }
    .header{
        display: block;
        padding-top: 0;
        margin-bottom: 60px;
    }
    .par-left{
        max-width: 100%;
    }
    .mt-60{
        margin-top: 60px;
    }
    .inner-container1{
        display: block;
    }
}
/* .img-shadow{
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
} */