<div class="container">
    
    <div class="proj1">
        <div class="project-name">mbExecutive</div>
        <a routerLink="/mbExecutive">
            <img class="img" src="../../assets/Optimized-dashboard-short.png" width="340">
        </a>
        <div class="caption">
            Category: Dashboard & Reports
            <br>Progressive Web App
            <br>January 2021
        </div>
    </div>

    <div class="projs proj2"> 
        <div class="project-name">financeWise</div>
        <a routerLink="/financeWise">
            <img class="img1" src="../../assets/Optimized-mbfw-cashreceipt.png" width="340" height="180">
        </a>
        <div class="caption">
            Category: ERP
            <br>Progressive Web App
            <br>July 2020 / December 2020
        </div>
    </div>
    
</div>