.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1024px;
    padding: 30px 0;
    text-align: center;
    min-height: calc(100vh - 384.2px);
}
.project-name{
    font-size: 2rem;
    margin: 48px auto;
    text-align: center;
}
.img, .img1{
    filter: drop-shadow(2px 2px 4px gray);
}
.img:hover{
    filter: hue-rotate(150deg);
}
.img1:hover{
    filter:saturate(10);
}
.caption{
    margin-top: 16px;
    color: gray;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
  }
@media screen and (max-width: 1050px) {
    .container{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .proj1, .proj2{
        float: unset;
        margin: 60px auto;
    }
}