<div class="projects">
    
    <div class="proj1"> 
        <a routerLink="/financeWise">
            <img class="img" src="../../assets/mbfw-accounts.png" width="340" height="200">
            <div class="caption">
                <div class="project-name">FinanceWise</div>
                <div>Category: ERP</div>
            </div>
        </a>
    </div>

    <div class="proj1"> 
        <a routerLink="/mbExecutive">
            <img class="img" src="../../assets/dashboardTop.png" width="340" height="200">
            <div class="caption">
                <div class="project-name">MB-Executive</div>
                <div>Category: Dashboard & Reports</div>
            </div>
        </a>
    </div>
</div>