.projects{
    display: flex;
    margin: 100px;
    justify-content: space-around;
}
.proj1{
    position: relative;
    border: 1px solid gray;
    align-items: center;
}
.caption{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 340px;
    height: 185px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    color: #fff;
    background: #F16A6B;
    transition: opacity 0.25s ease;
    justify-content: space-around;
}
.caption:hover{
    opacity: 0.9;
}
.project-name{
    font-size: 2rem;
    padding: 10px;
}
@media screen and (max-width: 767px) {

    .projects {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .proj1{
        display: flex;
        justify-content: center;
        margin: 25px 10px 50px 10px;
    }

}