.routeMap{
    margin: 8px;
}
.title{
    width: 95%;
    margin: 0 auto;
}
.heading{
    display: block;
    font-size: 6rem;
    line-height: 6rem;
    color: white;
    padding-top: 160px;
}
.header{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content:space-between;
    padding-top: 60px;
    margin-bottom: 124px; /*eliminating top bar's height from 160px*/
    align-items: flex-start ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
.caption{
    font-size: small;
}
.par-0{
    max-width: 50%;
}
.par-1{
    width: 60%;
    margin: 60px 30px 0;
}
.par-2{
    margin: 0 30px;
    align-self: flex-end;
    width: 60%;
}
.par-3{
    margin: 0 30px;
    width: 60%;
}
.par-4{
    margin: 0 30px;
    align-self: center;
    width: 95%;
    display: block;
}
.img{
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;

}
.img1{
    width: 95%;
    padding-top: 48%;
    background-image: url(../../../assets/mbfw-cashreceipt.png);
    margin: 160px auto;
    align-self: center;
}
.img-mob{
    width: 33.3%;
    border-radius: 24px;
    margin: 160px 30px;
}
.img2{
    padding-top: 59.3%;
    background-image: url(../../../assets/mbfw-splash.png);
    align-self: flex-end;
}
.img3{
    background-image: url(../../../assets/mbfw-mobile.png);
    padding-top: 72.3%;
}
.img-poli{
    margin: 160px 30px;
    align-self: center;
    filter: drop-shadow(2px 4px 6px black);
}
.img4{
    width: 66.6%;
    align-self: flex-end;
    margin-bottom: 0;
    padding-top: 31.8%;
    background-image: url(../../../assets/mbfw-formulation-mobile.png);
}
.img5{
    width: 66.6%;
    padding-top: 70.3%;
    background-image: url(../../../assets/mbfw-multi.png);
    align-self: flex-start;
    margin-bottom: 0;
}
.img6{
    width: 66.6%;
    padding-top: 35.5%;
    background-image: url(../../../assets/mbfw-party.png);
}
.img7{
    width: 95%;
    padding-top: 47%;
    background-image: url(../../../assets/mbfw-dialogue.png);
    align-self: center;
    margin: 160px 30px 60px;
}
.flex{
    display: flex;
}
.section2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    display: flex;
    flex-direction: column;
    width: calc(100% - 296px);
}
.numbers{
    display: block;
    color: #F16A6B;
    font-weight: bolder;
    margin: 60px 0 0;
}
.heading1{
    display: block;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 60px;
}
.vouchers{
    display: flex;
    justify-content: space-around;
    color: gray;
    font-family: 'Roboto Slab', serif;
}
.outputs{
    padding-top: 160px;
}
.briefing{
    display: flex;
    flex-direction: column;
    width: 296px;
    color: gray;
    margin: none;
    background-color: #f5f5f5;
    padding: 16px;
    padding-top: 36px;
    justify-content:flex-start;
}   
.tech{
    display: block;
}
.billi{
    padding-top: 16px;
}
@media screen and (max-width: 767px){
    .header{
        display: block;
        padding-top: 0;
        margin-bottom: 0;
    }
    .section2{
        max-width: unset;
        width: 95%;
        margin: 0 auto;
    }
    .flex{
        display: block;
    }
    .briefing{
        display: block;
        width: 100%;
        padding: 0;
        padding-top: 24px;
        margin: 0 auto;
    }
    .briefing *{
        padding-left: 8px;
    }
    h2{
        font-size: medium;
        font-weight: 600;
    }
    .heading{
        font-size: 4rem;
    }
    .heading1{
        font-size: 2rem;
        margin-bottom: 36px;
    }
    .par-0{
        max-width: 95%;
        padding-top: 60px;
    }
    .par-1, .par-2, .par-3, .par-4{
        width: 95%;
        margin: 0 auto;
    }
    .par-1{
        margin-top: 60px;
    }
    .img{
        margin: 60px auto;
        width: 95%;
    }
    .img1{
        padding-top: 45%;
        background-image: url(../../../assets/mbfw-formulation-mobile.png);
        filter: drop-shadow(2px 4px 6px black);
    }
    .img2{
        padding-top: 169.9%;
    }
    .img3{
        padding-top: 206.5%;
    }
    .img4{
        padding-top: 45.3%;
        margin-bottom: 0;
    }
    .img5{
        padding-top: 100.3%;
        margin-bottom: 0;
    }
    .img6{
        padding-top: 50.5%;
    }
    .img7{
        background-image: url(../../../assets/mbfw-dialogue1.png);
        padding-top: 328px;
    }
}