<div class="route"><a class="back" routerLink="/profile"><img src="../../../assets/icons8-back-arrow-24.png"></a>
    <p class="routeMap">Projects <img style="vertical-align: text-top;" src="../../../assets/icons8-more-than-16.png"> FinanceWise</p>
</div>

<div class="title">
    <span class="heading">FinanceWise</span>
</div>
<div class="header">
    <div class="caption">
        ERP
        <br>Progressive Web App
        <br>July 2020 / Dec 2020
    </div>

    <div class="par-0">
        A complete ERP (Enterprise Resource Planning) system that aligns <span class="bold">financial management</span>, 
        <span class="italic">distribution</span> and <span class="bold">supply chain management</span> with the 
        core accounting functions to <span class="italic">increase profitability</span> and provides full control 
        over the business on a single platform.
    </div>
</div>

<div class="img img1"></div>

<div class="inner-container flex">
    <div class="section2">
        <div class="par-1">
            MB-Tech is a specialized accounting based softwares company which has a strong hold over the 
            shoe market industry in South Asia. I <span class="bold">redeveloped and cloud-enabled</span> 
            one of their major desktop apps to cope with the pandemic-driven spike,
            in demand for remote working capabilities from their clients.
            <!-- MB-Tech is a specialized accounting based softwares company which has a strong hold over the shoe market industry 
            in South Asia. In the early days of the pandemic, they rapidly detected the need of <span class="bold">remote 
            working</span> that their clients might require. For which they hired me to <span class="italic">completely re-develop</span> one of their 
            major apps, using web based technologies. -->
            After Some studies and meetings held remotely for the Project Management, we discovered the following matters;
            <ul>
                <li>The app needed a totally new design</li>
                <li>Two backend projects were required, first one to enhance and continue using the current reports and the second to 
                    create the REST API using latest technologies</li>
                <li>The same database had to be used, thus to avoid problems at the time of migration.</li>
            </ul>
        </div>

        <div class="img-mob">
            <img src="../../../assets/view.png" alt="mobile-view-icon">
            <div class="img img2"></div>
        </div>
        

        <div class="par-2">
            As the project advanced, I developed my skills with it, too. I was able to work at 
            a decent pace, thanks to the high self - motivation to overcome the challenges I faced in the areas of 
            <span class="italic"> app architecture</span>, secured API endpoints access, State Control using singleton Services, 
            asynchronous task processing, SAP crystal reports incorporation, <span class="bold">complex data queries,</span> 
            sortable paginated tables, personalize manifest.webmanifest with manual prompts and 
            deployments on platforms like <span class="italic">Azure,</span> IIS, smarterasp.net, <span class="italic">firebase</span> and netlify.
        </div>
        <!-- I started developing with this project as my first. I was able to work on a decent pace, 
            thanks to the <span class="bold">high motivation</span> caused by the challenges like
         -->
        
        <div class="img-desktop">
            <img src="../../../assets/view-desktop.png" alt="desktop-view-icon">
            <div class="img img4"></div>
        </div>

        <div class="par-3">
            This PWA analyses <span class="bold">data</span> through integrated <span class="italic">Finance Management, 
            Purchase, Sales, Production & Inventory</span> departments to visualise all aspects of the business in real-time, 
            enabling <span class="bold">advanced reporting</span> for confident and timely decision making.
        </div>

        <div class="img-mob">
            <img src="../../../assets/view.png" alt="mobile-view-icon">
            <div class="img img3"></div>
        </div>

        <div class="par-4">
            <p style="text-align: center;">Following is the list of the built Modules, 
                their input vouchers & outputs;</p>
            <span class="numbers">01</span> 
            <span class="heading1">Finance Module</span>
            <p>Based on strong and tested accounting functions, this module handles the <span class="bold">general ledger</span> of the company, 
                keeps you up-to-date with financial assets and provide all kind of reports for <span class="italic">forecasting, 
                budgeting</span> and <span class="italic">planning</span>  
                with just a few clicks.</p>
            <div class="vouchers">
                <div class="inputs">
                    <h2>Inputs</h2>
                    <p>Opening Journal</p>
                    <p>Cash / Cheque receipt</p>
                    <p>Cash / Cheque payment</p>
                    <p>Bank Voucher</p>
                    <p>Journal Voucher</p>
                </div>
                <div class="outputs">
                    <h2>Outputs</h2>
                    <p>Chart of Accounts</p>
                    <p>Cash Book</p>
                    <p>Account Ledger</p>
                    <p>Group Account</p>
                    <p>Cheque status</p>
                    <p>Screen Ledger</p>
                </div>
            </div>       
            
            <div class="img img-poli img5"></div>
                
            <span class="numbers">02</span>
            <span class="heading1">Purchase Module</span>
            <p>A complete purchasing system prepared to handle organizations with <span class="bold">multiple headquarters,</span> 
                takes care of the <span class="bold">procurement,</span> providing multiple tools, from <span class="italic">planning</span> 
                to <span class="italic">requisition,</span> from gate pass to stock placement and the <span class="italic">purchase invoice</span> etc. 
                It controls the <span class="bold">supply</span> and <span class="bold">inventory</span> and reduces error margins by
                automating the interdepartamental communication between front office and warehouses.</p>
            <div class="vouchers">
                <div class="inputs">
                    <h2>Inputs</h2>
                    <p>Purchase Order</p>
                    <p>Goods Receipt Note / Barter In</p>
                    <p>Purchase Voucher</p>
                    <p>Purchase Return</p>
                    <p>Purchase Journal</p>
                    <p>Purchase Order Cancellation</p>
                </div>
                <div class="outputs">
                    <h2>Outputs</h2>
                    <p>Purchase Report</p>
                    <p>Purchase Return</p>
                    <p>Periodic Purchase statement</p>
                    <p>GRN Report</p>
                </div>
            </div>

            <span class="numbers">03</span>
            <span class="heading1">Sales Module</span>
            <p>
                This module implements the full Sales department's cycle, from enquiry to delivery including 
                <span class="italic">Customer Orders</span>, their scheduling, shipping and invoicing. 
                With real-time stock data, personalized rates and other critical information, it optimizes 
                sales <span class="bold">efficiency</span> and ensures timely deliveries. 
                FinanceWise's <span class="italic">flexibility</span> allows you to place the sales order 
                against the sales quotation, manually or by combining both of them. It also maintains sales person 
                log and make automatic credit check for managing the <span class="bold">credit limits</span> of the customers.
            </p>
            <div class="vouchers">
                <div class="inputs">
                    <h2>Inputs</h2>
                    <p>Sale Order</p>
                    <p>Delivery Note / Barter Out</p>
                    <p>Credit / Cash Sale</p>
                    <p>Sale Return</p>
                    <p>Bilty Update</p>
                    <p>Claims</p>
                    <p>Sale Journal</p>
                    <p>Sale Order Cancellation</p>
                </div>
                <div class="outputs">
                    <h2>Outputs</h2>
                    <p>Cash</p>
                    <p>Sales</p>
                    <p>Sales Return</p>
                    <p>Periodic Sales Statement</p>
                    <p>Unsold Items</p>
                    <p>Product Repeat</p>
                    <p>Periodic Purcha</p>
                    <p>Sales/Recovery Comparison</p>
                    <p>Sales/Production Comparison</p>
                    <p>Fast Sales Summary</p>
                    <p>Pending Order Status</p>
                    <p>New pending Order Status</p>
                    <p>Sales Order Report</p>
                </div>
            </div>
                
            <span class="numbers">04</span>
            <span class="heading1">Production Module</span>
            <p>
                This module designs and automates the production process that must be followed to convert 
                <span class="italic">raw materials </span> into <span class="italic">finished goods</span>. 
                It helps in <span class="bold">cost calculations</span> and reduction by optimizing time in 
                production planning and stock control.
            </p>
            <div class="vouchers">
                <div class="inputs">
                    <h2>Inputs</h2>
                    <p>Individual production</p>
                    <p>Multiple production</p>
                    <p>Product Planning</p>
                    <p>Stock Issuance</p>
                    <p>Stock Return</p>
                    <p>Stock Consumption</p>
                    <p>Periodic Report</p>
                    <p>Contractor Report</p>
                    <p>Production PLanning</p>
                </div>
                <div class="outputs">
                    <h2>Outputs</h2>
                    <p>Production Report</p>
                    <p>Contractor Production Report</p>
                </div>
            </div>
                
            <span class="numbers">05</span>
            <span class="heading1">Inventory Module</span>
            <p>
                Connected with all the relavant departments, this module helps make better decisions by providing 
                <span class="italic">accurate inventory data</span>, enables businesses to control their 
                <span class="bold">logistics</span>, operations, finance, and inventory from a singular system reducing 
                errors and improving efficiency.
            </p>
            <div class="vouchers">
                <div class="inputs">
                    <h2>Inputs</h2>
                    <p>Stock Transfer</p>
                    <p>Stock Transfer Acknowledgement</p>
                    <p>Stock Consumption</p>
                    <p>Stock Inward</p>
                    <p>Production Change</p>
                    <p>Gate Pass</p>
                </div>
                <div class="outputs">
                    <h2>Outputs</h2>
                    <p>Product Listing</p>
                    <p>Product Ledger</p>
                    <p>Stock Balance</p>
                    <p>Stock Ageing</p>
                    <p>Dead Stock</p>
                    <p>Stock Transfer</p>
                    <p>Stock Consumption</p>
                </div>
            </div>
        
            <span class="numbers">06</span>
            <span class="heading1">Customers / Suppliers</span>
            <p>
                Remote submission of these profiles from within any voucher they are required, allows 
                the user to select a customer or supplier with its initials or from a dropdown list which 
                shows their current <span class="italic">balance at real-time</span>. Sales vouchers evaluates 
                the <span class="bold">personalized rates</span> for each client using the price and discounts lists. 
                Suppliers profiles plays a very important role in production for <span class="italic">cost evaluation</span>. 
                Finally all the data set returns a nice output where any supplier or customer's <span class="bold">
                history or statistics</span> can be viewed with a very user friendly interface. 
            </p>
            <div class="vouchers">
                <div class="inputs">
                    <h2>Inputs</h2>
                    <p>Customers / Suppliers Vouchers</p>
                    <p>Main Group</p>
                    <p>Sub Group</p>
                    <p>Cities</p>
                </div>
                <div class="outputs">
                    <h2>Outputs</h2>
                    <p>Listing</p>
                    <p>Balance</p>
                    <p>Ledger</p>
                    <p>Aging</p>
                    <p>Recovery</p>
                    <p>Discount Policy</p>
                </div>
            </div>

            <div class="img img-poli img6"></div>

            <span class="numbers">07</span>
            <span class="heading1">Others</span>
            <p>
                Last but not least, from the following inputs, <span class="bold">Accounts</span> voucher with a 
                very simple UI is the backbone of the app. It enables the user to submit data very easily, which is 
                later used to make complex internal operations in different sectors of the organization.
                <span class="bold">Products</span> voucher lets you add a new product from the dropdown list within 
                any voucher it is required. Other input vouchers lets you handle the pricelists and discounts both 
                globally or client-wise.
            </p>
            <div class="vouchers">
                <div class="inputs">
                    <h2>Inputs</h2>
                    <div>
                        Accounts
                        <ul>
                            <li>Main Group</li>
                            <li>Sub Group</li>
                        </ul>
                    </div>
                    <div>
                        Products
                        <ul>
                            <li>Sub Group</li>
                            <li>Colors</li>
                        </ul>
                    </div>
                    <p>Customer Pricelist</p>
                    <p>Global Pricelist</p>
                    <p>Discount Policies</p>
                    <p>Transporters</p>
                    <p>Locations</p>
                </div>
                <div class="outputs">
                    <h2>Outputs</h2>
                    <p>Daily Log</p>
                    <p>Expense Comparison</p>
                    <p>Periodic Expense</p>
                    <p>User Activity Log Sheet</p>
                    <p>Trial Balance</p>
                    <p>Master Trial Balance</p>
                    <p>Profit/Loss Statement</p>
                    <p>Profit/Loss Comparison</p>
                    <p>Periodic Profit/Loss Ratio</p>
                    <p>Balance Sheet</p>
                    <p>Balance Sheet Comparison</p>
                </div>
            </div>
        </div>
    
        <div class="img img7"></div>

    </div>
    <div class="briefing">
        <div class="services">
            <h2>Services</h2>
            <p>Project Management</p>
            <p>Frontend Development</p>
            <p>Backend Development</p>
            <p>Deployments & Hostings</p>
        </div>
        <div class="services">
            <br>
            <br>
            <h2>Tools</h2>
            <p>Angular Framework</p>
            <p>.NET Core</p>
            <p>ASP.NET</p>
            <p>SAP Crystal Reports</p>
            <p>Ngx-Charts</p>
            <p>Angular Material</p>
            <p>Bootstrap</p>
            <br>
            <br>
            <h2>Data</h2>
            <p>MSSQL</p>
            <p>Sql Queries</p>
            <p>LINQ</p>
            <br>
            <br>
        </div>
        <div class="tech">
            <h2>Languages</h2>
            <p>Back-end</p>
            <img src="../../../assets/mbfw-lang-BEpng.png" alt="languages" width="280px">
            <br><br>
            <p>Front-end</p>
            <img src="../../../assets/mbfw-languages-FEpng.png" alt="languages" width="280px">
        </div>
        <a href="https://github.com/pikuman83/mbfwBK" target="_blank" rel="noopener" title="Click to open the github repository of the project"><img class="billi" src="../../../assets/icons8-github-48.png"> Github Backend</a>
        <a href="https://github.com/pikuman83/Omega19" target="_blank" rel="noopener" title="Click to open the github repository of the project"><img class="billi" src="../../../assets/icons8-github-48.png"> Github Frontend</a>
    </div>             
</div>

<!-- <p>
        In December 2020, the app, with 70%+ Pitch Management flow ready, 
        was shifted to the Q&A for bug triage and a detailed testing. 
        This is when unfortunately we had to pause the project due to the financial crises caused 
        by the pandemic. Therefore, a new smaller project was renegotiated for the client who was already 
        using the desktop version of this ERP, a PWA with <a routerLink="/mbExecutive">Executive dashboard & Reports</a>.  
    </p> -->