<div class="highlight-card">
  <img alt="profile-round" src="../assets/profile-circle.png" width="120" height="120">
  <h2>Hey! I'm Wahab<br><span class="title">Barcelona based full stack app developer</span></h2>
  <app-contact class="contacts"></app-contact>
</div>

<div class="inner-container">
  <mat-tab-group mat-align-tabs="end" [selectedIndex]="selectedIndex" (selectedIndexChange)="saveIndex($event)">
      <mat-tab label="Profile">
        <app-profile></app-profile>
      </mat-tab>
    
      <mat-tab label="Projects">
        <app-projects></app-projects>
      </mat-tab>

      <mat-tab label="Curriculum Vitae">
        <app-cv></app-cv>
      </mat-tab>
  </mat-tab-group>
</div>