.outer-container{
  background: url(../assets/gradientbg.jpg) left top,
  rgba(0,0,0,.2);
  background-repeat: no-repeat;
  background-size: 100% 400px, cover;
  min-height: 100%;
}
@media screen and (max-width: 767px){
  .outer-container{
    background: url(../assets/gradientbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
  }
}