<div class="highlight-card">
  <img alt="profile-round" src="../assets/profile-circle.png" width="120" height="120">
  <h2>Hey! I'm Wahab<br><span class="title">Barcelona based full stack app developer</span></h2>
</div>

<router-outlet></router-outlet>

<footer>
  <hr>
  <h2 style="text-align:center">Let's Get In Touch!</h2>
  <div class="card-container">
    
    <a class="circle-link" title="Call to: +34 600731531" href="tel:+34600731531" target="_blank" rel="noopener">
      <img src="../assets/icons8-phone-16.png">
    </a>

    <a class="circle-link" title="wahab_anjum@hotmail.com" href="mailto:wahab_anjum@hotmail.com" target="_blank" rel="noopener">
      <img src="../assets/icons8-email-16.png">
    </a>

    <a class="circle-link" title="Instagram" href="https://www.instagram.com/pikuman83/" target="_blank" rel="noopener">
      <img src="../assets/icons8-instagram-16.png">
    </a>
  
    <a class="circle-link" title="Twitter" href="https://twitter.com/pikuman83" target="_blank" rel="noopener">
      <img src="../assets/icons8-twitter-16.png">
    </a>
  
    <a class="circle-link" title="GitHub" href="https://github.com/pikuman83" target="_blank" rel="noopener">
      <img src="../assets/icons8-github-16.png">
    </a>

  </div>
</footer>