<div class="container">
    <div class="header">
        
        <div class="yo">
            <p>Preparado por:</p>
            <span class="h2">Wahab Anjum</span>
            <a href="https://pikuman-portfolio.netlify.app"> https://pikuman-portfolio.netlify.app</a>
        </div>
        <div class="separator"></div>
        <div class="client">
            <p>Preparado para:</p>
            <span class="h2">Brigitte Gregori</span>
            <h3>BB for Investors</h3>
        </div>
 
    </div>
    <hr>
    <div class="heading">
        <span class="h1">PROPUESTA WEB</span>
        <h2>09-06-2021</h2>
    </div>
    <div class="inner-container">
        <div class="proposal">
            Primero de todo, gracias por contactar conmigo y por transmitir vuestra confianza. A continuación detallo el 
            análisis de los servicios solicitados, tal y como sigue;
 
            <h2>Descripción</h2>
            <div>
                Programación del sitio web estático "responsive" según la maquetación y los diseños presentados por Alejandra, 
                adaptado a todo tipo de dispositivos (Ordenador, móvil, tablet) y en varios idiomas, siendo necesarios 
                Castellano, Inglés y Francés.
            </div>
 
            <h2>Estructura</h2>
            <div class="structure">
                <h3>Inicio y Servicios</h3>
            <div>
                Según la propuesta de Alejandra presentada en <a href="../../assets/BB HOME & SERVICES 2.pdf" download="" title="Descargar archivo"><i>este archivo</i></a>, 
                contendrá un resumen de todos los servicios y vínculos para acceder a los mismos. 
                También incluye pestañas flotantes y formulario de contacto vía email.
            </div>
 
            <h3>Sobre mi</h3>
            <div>
                <a href="../../assets/about modificado.pdf" download="" title="Descargar archivo">Descargar modelo a programar<i> "About"</i></a>
            </div>
 
            <h3>Portafolio</h3>
            <div>
                <a href="../../assets/BUSINESS CASE def.pdf" download="" title="Descargar archivo">Descargar modelo a programar<i> "Portafolio"</i></a>
                <br>Contiene Carousel de imágenes en la cabecera y tarjetas con pequeña imagen y título de todos los proyectos. 
                <br>Estos proyectos también se podrán ver filtrados por las ciudades en sus propias pestañas.
            </div>
 
            <h3 class="pm-30">Fichas de los Proyectos</h3>
            <div>
                <a href="../../assets/BB ficha proyecto 2.pdf" download="" title="Descargar archivo">Descargar modelo a programar<i> "Proyectos"</i></a>
                <br>Foto Antes y Después
                <br>Ficha técnica
                <br>Descripción
                <br>Fotos de obra
                <br>Carousel de Imágenes
                <br>Barra de navegación
                <br>Contacto
            </div>
 
            <h3>Actualidad</h3>
            <div>
                Incorporación del Blog
            </div>
            </div>
 
            <h2>Servicios Adicionales</h2>
            <h3>Usuarios</h3>
            <ul>
                <li>Crear usuario</li>
                <li>Eliminar usuario</li>
                <li>Cambiar contrasena</li>
                <li>Página de bienvenida a usuario con detalles personalizados</li>
            </ul>
 
            <h3>Back Office</h3>
            <div>
                Para tener el control absoluto, convierta su página web estática en una app web progresiva (instalable en los móviles), 
                incorporando un "Back Office" que permite añadir, modificar o eliminar proyectos y filtrarlos por nuevas ubicaciones. 
                Para ello es necesario guardar los archivos y datos en una aplicación del lado servidor. 
            </div>
            <ul> 
                <li>Base de datos Real-Time</li>
                <li>Opción de Instalación de la app con logotipo personalizado en mayoría de aparatos</li>
                <li>Acceso "offline"</li>
                <li>Añadir, editar o eliminar proyectos y ciudades nuevas sin moverse del sitio</li>
                <li>Interfaz sencilla</li>
                <li>Acceso seguro con cuenta administrativa</li>
                <li>Analitcas sobre el uso de la pagina</li>
            </ul>
 
            <h2>Technologias</h2>
            <p>Angular Framework</p>
            <p>Typescript</p>
            <p>Javascript</p>
            <p>Firebase</p>
            <p>Html</p>
            <p>Css</p>
            <p>Angular Material</p>
            
            <h2>Plazos</h2>
            <div>
                Entre 4 a 6 semanas, a partir de haber recibido el contenido.
            </div>
 
            <h2>Presupuesto</h2> 
            <div class="pricelist">
                <div class="rates">
                    <p>Página Web Estatica:</p><p>800€</p>
                </div>
                <div class="rates">
                    <p>Implementación de usuarios:</p><p>300€</p>    
                </div>
                <div class="rates">
                    <p>Back-office (opcional):</p><p>500€</p>     
                </div>
            </div>
 
            <h2 class="pm-150">Compromiso y Garantia</h2>
            <div>
                Desde la posición del programador, entiendo la importancia de imagen y sus efectos en venta, 
                por lo que estoy muy comprometido con el cumplimiento de las exigencias del cliente. 
                Me esfuerzo en proporcionar mis servicios mirando con lupa el diseño hasta el más mínimo 
                detalle y creando tanto una buena experiencia del usuario como del cliente ofreciendo disponibilidad
                inmediata en servicios, durante el desarrollo y post venta. 
                Una vez entregada la web, quedará cubierta por el servicio postventa de por vida de forma gratuita 
                para cualquier fallo técnico de programación que pueda tener. En caso de modificaciones posteriores o anexo 
                de nuevas páginas o apartados la hora de programación se cobrará por separado.
            </div>
            <br>
            <br>
            <a class="hideOnPrint" href="../../assets/propuestaBB-Invest.pdf" download="" title="Download CV">Descargar Propuesta <img src="../../assets/download.png"></a>
        </div>
    </div>
</div>

