<div class="content" role="main">
  <div class="section">
    <span class="heading">¡Where it all began!</span>  
    <div class="par1">
      In the early days of the pandemic,  
      totally locked down, one day while surfing the web, a word,
      "Android Studio" got my attention. 
      I downloaded it. While playing with the demo app,
      Suddenly, it was lunch time and I DIDN'T want it
      <br>What happened? I didn't know. Still with the app
    </div>
      
    <img class="text-center" src="../../assets/gato.gif" width="170" height="200">
    <div class="par2">
      now it's dinner time and I'm still not hungry. What's going on here?
      <br>To get the answer, I had to travel 22 years back in time, when while studying Computer Science, 
      together with a friend, we created a <span class="italic">startup to digitalize local companies</span>, which I left when 
      I to moved to Barcelona.
      <br>!! Suddenly I realised, it was the reawakening of <strong class="bold">my old passion!!</strong> 
    </div>
  </div>
  
  <div class="section">
    <span class="heading align-right">¡Where I stand now!</span>  
    <div class="par1">
      The start-up, "MB-TECH", is still alive and, back at the beginning of the pandemic, it was in need of innovation.
      So I took up the challenge to <span class="italic">remake</span> one of their VB based major apps (a very complete <span class="bold">ERP</span>) as a <span class="bold">PWA</span>, details of which can be found in the "Projects" tab.
      <br>Although I've been <span class="bold">learning by doing</span>, I've been able to work as a full stack developer at a <span class="italic">decent pace</span> on this project.
    </div>
  </div>
  <div class="section">
      <span class="heading">Interests</span>  
    <div class="par2 margin-top">
      Currently, doing a <span class="italic">"Google Digital Workshop"</span> "Build your web presence" and looking forward to attend courses related 
      to <span class="bold">Arduino & Automation</span> in september. I am also actively trying to step up my knowledge of <span class="italic">state control</span> (Ngrx || Ngxs) 
      and <span class="italic">Unit Testing</span>.
      <!-- The rate of development of new technologies like machine learning excites me, and I keep up-to-date with them. -->
    </div>
  </div>

  <span class="heading text-center">Other hobbies</span>
  <div class="hobbies">
    <div class="bg1">
      <div class="caption1">Ultimate Frisbee</div>
    </div>
    <div class="bg2">
      <div class="caption2">Snow Boarding</div>
    </div>
    <div class="bg3">
      <div class="caption3">Mountains</div>
    </div>
    <div class="bg4">
      <div class="caption4">Music Festivals</div>
    </div>
    </div>
  </div>

    <!-- <div class="card-container" (window:resize)="respWidthP($event)">

      <div class="card card-small" name="fotoFrame">
        <a href="../../assets/IMG_20160502_234654.jpg">
          <img src="../assets/IMG_20160502_234654.jpg" [width]="width" [height]="height" alt="Ultimate Frisbee">
          <p>Ultimate Frisbee</p>
      </a>
      </div>

      <div class="card card-small" name="fotoFrame">
        <a href="../../assets/IMG_20190310_141635-PANO.jpg">
          <img src="../assets/IMG_20190310_141635-PANO.jpg" [width]="width" [height]="height" alt="Snow Boarding">
          <p>Snow boarding</p></a>
      </div> -->

      <!-- <div class="card card-small" name="fotoFrame">
        <a href="../../assets/20151113_170309.jpg">
          <img src="../assets/20151113_170309.jpg" [width]="width" [height]="height" alt="Badminton">
          <p>Badminton</p></a>
      </div>

      <div class="card card-small" name="fotoFrame">
        <a href="../../assets/IMG_20161010_201432.jpg">
          <img src="../../assets/IMG_20161010_201432.jpg" [width]="width" [height]="height" alt="Zombie Walk">
          <p>Zombie Walk</p></a>
      </div> -->

      <!-- <div class="card card-small" name="fotoFrame">
          <a href="../../assets/IMG-20181230-WA0256.jpg">
          <img src="../assets/IMG-20181230-WA0256.jpg" [width]="width" [height]="height" alt="Mountains">
        <p>Hiking</p></a>
      </div> -->
  
      <!-- <div class="card card-small" name="fotoFrame">
        <a href="../../assets/IMG_20190626_000703_231.jpg">
          <img src="../assets/IMG_20190626_000703_231.jpg" [width]="width" [height]="height" alt="Rural">
          <p>Rural Traditions</p></a>
      </div>

      <div class="card card-small" name="fotoFrame">
        <a href="../../assets/IMG_20190715_204737_127.jpg">
          <img src="../assets/IMG_20190715_204737_127.jpg" [width]="width" [height]="height" alt="Waterfalls">
          <p>Rivers & Waterfalls</p></a>
      </div> -->

      <!-- <div class="card card-small" name="fotoFrame">
        <a href="../../assets/IMG-20190705-WA0026.jpg">
          <img src="../../assets/IMG-20190705-WA0026.jpg" [width]="width" [height]="height" alt="Music Fests">
          <p>Music Festivals</p></a>
      </div> -->
    <!-- </div> -->