<div class="content" role="main">
  <div class="section">
    <span class="heading">¡Where it all began!</span>  
    <div class="par1">
      In the early days of the pandemic,
      totally locked down, one morning while surfing the web, a word,
      "Android Studio", got my attention. 
      I downloaded it. While playing with the demo app,
      Suddenly, it was lunch time and I DIDN'T want to eat. 
      <br>What happened? I had no idea. Still playing with the app
    </div>
      
    <img class="text-center" src="../../assets/gato.gif" width="170" height="200">
    <div class="par2">
      now it's dinner time and I'm still not hungry. What's going on here?
      <br>To get the answer, I had to travel 22 years back in time, when while studying Computer Science, 
      together with a friend, we created a <span class="italic">startup to digitize local companies</span>, which I left when 
      I moved to Barcelona.
      <br>!! Suddenly I realised, it was the reawakening of <strong class="bold">my old passion!!</strong> 
    </div>
  </div>

  <div class="section">
    <span class="heading align-right">¡Where I stand now!</span>  
    <div class="par1">
      The start-up, "MB-TECH", is still alive and continuing to offer solutions to local companies. However, back at the beginning of the pandemic, it was in need of innovation.
      So I took up the challenge to <span class="italic">remake</span> one of their VB based major apps (a very complete <span class="bold">ERP</span>) as a 
      <span class="bold">PWA</span>, details of which can be found in the "Projects" tab.
      <br>Although I've been <span class="bold">learning by doing</span>, I've been able to work as a full stack developer at a <span class="italic">decent pace</span> on this project.
    </div>
  </div>
  <div class="section">
      <span class="heading">Interests</span>  
    <div class="par2 margin-top">
      I am currently, doing a "Google Digital Workshop" called <span class="italic">"Fundamentals of Digital Marketing"</span> as well as looking forward to attending courses related 
      to <span class="bold">Arduino & Automation</span> in september. I am also actively enhancing my knowledge of <span class="italic">state control</span> (Ngrx || Ngxs) 
      and <span class="italic">Unit Testing</span>.
      <!-- The rate of development of new technologies like machine learning excites me, and I keep up-to-date with them. -->
    </div>
  </div>

  <span class="heading text-center">Hobbies</span>
  <div class="hobbies">
    <div class="bg1">
      <div class="caption1">Ultimate Frisbee</div>
    </div>
    <div class="bg2">
      <div class="caption2">Snow Boarding</div>
    </div>
    <div class="bg3">
      <div class="caption3">Mountains</div>
    </div>
    <div class="bg4">
      <div class="caption4">Music Festivals</div>
    </div>
    </div>
  </div>