<div class="content" role="main">
    <!-- <h2>About me</h2> -->
    <div class="par">
      <p>In the early days of pandemic, 
        <br>totally locked down, one day surfing the web, a word,
        <br>"Android Studio" gets my attention. 
        <br>I download it. While playing with the demo app
      </p>
      <!-- <img class="giphy" src="../../assets/curiosity.gif" width="170" height="200"> -->
    </div>
    
    <!-- <div class="separator"><span class="sep1">.</span><span class="sep2">.</span><span class="sep3">.</span></div> -->
    <img src="../../assets/gato.gif" width="170" height="200">
    <div class="par">
      
      <p>It was the lunch time and I DIDN'T want it
        <br>What happened? I didn't know. 
        <br>Still with the app, the dinner time and I'm still not hungry.
        <br>What's going on here?  
      </p> 
    </div>

    <div class="separator"><span class="sep1">.</span><span class="sep2">.</span><span class="sep3">.</span></div>

    <div class="par par3">
      <p>To get the answer, I had to travel back 22 years in time, when while studying Computer Science, together with a friend,
        we created a startup to digitalize local companies, which I left to move to Barcelona.
      <br><strong class="interval">!! Suddenly I realised, that was the wakeup of my old passion!!</strong> 
      <br>the start-up "MB-TECH" is still alive and back to the begining of the pandemic, it was in need of innovation.
      So I took the challange to migrate one of their major apps, an ERP, to a PWA, details of which can be found in "Projects" tab.
      <br>And here I am, finally seeking a job in the field of my life.
      <!-- <br>wait wait wait!!! what about the lunch and the dinner? Have I learnt to live without eating? -->
     </p>
    </div>
    <!-- <img class="giphy" src="../../assets/eating1.gif" width="100" height="100"> -->
    <!-- <div class="separator"><span class="sep1">.</span><span class="sep2">.</span><span class="sep3">.</span></div> -->
    
    <h2 class="hobbies">Some other things I like to do in my spare time</h2>

    <div class="card-container">

      <div class="card card-small">
        <a href="../../assets/IMG_20160502_234654.jpg">
          <img src="../assets/IMG_20160502_234654.jpg" width="168" height="168" alt="Ultimate Frisbee">
          <p>Ultimate Frisbee</p>
      </a>
      </div>

      <div class="card card-small">
        <a href="../../assets/IMG_20190310_141635-PANO.jpg">
          <img src="../assets/IMG_20190310_141635-PANO.jpg" width="168" height="168" alt="Snow Boarding">
          <p>Snow boarding</p></a>
      </div>

      <div class="card card-small">
        <a href="../../assets/20151113_170309.jpg">
          <img src="../assets/20151113_170309.jpg" width="168" height="168" alt="Badminton">
          <p>Badminton</p></a>
      </div>

      <div class="card card-small">
        <a href="../../assets/IMG_20161010_201432.jpg">
          <img src="../../assets/IMG_20161010_201432.jpg" width="168" height="168" alt="Zombie Walk">
          <p>Zombie Walk</p></a>
      </div>
  
      <div class="card card-small">
          <a href="../../assets/IMG-20181230-WA0256.jpg">
          <img src="../assets/IMG-20181230-WA0256.jpg" width="168" height="168" alt="Mountains">
        <p>Mountains</p></a>
      </div>
  
      <div class="card card-small">
        <a href="../../assets/IMG_20190626_000703_231.jpg">
          <img src="../assets/IMG_20190626_000703_231.jpg" width="168" height="168" alt="Rural">
          <p>Rural Traditions</p></a>
      </div>

      <div class="card card-small">
        <a href="../../assets/IMG_20190715_204737_127.jpg">
          <img src="../assets/IMG_20190715_204737_127.jpg" width="168" height="168" alt="Waterfalls">
          <p>Rivers & Waterfalls</p></a>
      </div>

      <div class="card card-small">
        <a href="../../assets/IMG-20190705-WA0026.jpg">
          <img src="../../assets/IMG-20190705-WA0026.jpg" width="168" height="168" alt="Music Fests">
          <p>Music Festivals</p></a>
      </div>
    </div>
  </div>