<div class="container">
    <div class="header">
        
        <div class="yo">
            <p>Preparado por:</p>
            <span class="h2">Wahab Saghir Butt</span>
            <a href="https://pikuman-portfolio.netlify.app"> https://pikuman-portfolio.netlify.app</a>
        </div>
        <div class="separator"></div>
        <div class="client">
            <p>Preparado para:</p>
            <span class="h2">Rafael</span>
            <p class="gray">argonia</p>
        </div>
 
    </div>
    <hr>
    <div class="heading">
        <img class="mr-25" src="../../assets/albahaca.png" alt="logotipo" width="48px">
        <span class="h1">argonia</span>
        <h2>Propuesta PWA | 19-11-2021</h2>
    </div>
    <div class="inner-container mb-60">
        <div class="proposal">
            Primero de todo, gracias por contactar conmigo y por transmitir tu confianza. Como acta de 
            nuestra reunión celebrada el 17-11-2021 entre las 10:00h y las 13:30h y descripción de todo 
            el contenido que abarcan los servicios solicitados, a continuación te expongo mi propuesta, 
            según detalle;
 
            <h2>Descripción</h2>
            <div>
                Desarrollo de aplicación web SPA con todos los procesos automatizados dando autonomía total 
                al administrador, RESPONSIVE, adaptado a pantallas de varios tamaños 
                (móvil, tablet y ordenador) y con funcionalidad PWA "aplicación web progresiva" que 
                permite el mismo funcionamiento en todos los dispositivos y siendo instalable en mayoría 
                de estos mediante un aviso a la hora de acceso.
            </div>
        
 
            <h2>Estructura de la App</h2>
            <h3>Proyecto</h3>
            <ul>
                <li>Análisis y Gestión del proyecto</li>
                <li>Selección y instalación de tecnologías y librerías externas</li>
                <li>Arquitectura de la aplicación y definición de estrategias de carga de datos para garantizar el 
                    maximo rendimiento
                </li>
                <li>Protección de rutas de acceso (administrador, usuarios) y instalación de 
                    los servicios globales de la aplicación (Control del estado de los usuarios etc)
                </li>
            </ul>

            <h3>Frontend</h3>
            La parte de frontend consta de 6 módulos;
            <ul>
                <li>Página landing</li>
                <li>Lista de productos</li>
                <li>Detalles del producto</li>
                <li>Área personal del cliente</li>
                <li>Dashboard administrador</li>
                <li>Implantación de usuarios</li>
            </ul>

            <h3>Backend</h3>
            Por el lado backend, se ha de implantar los siguientes servicios;
            <ul>
                <li>Autenticidad, autorización y almacenamiento de usuarios</li>
                <li>Gestión de base de datos en nubes, Cloud storage</li>
                <li>Reglas de seguridad esenciales para protección de datos</li>
                <li>Gestión de almacenamiento de imágenes</li>
            </ul>
 
            <h2>Contenido</h2>
            <h3>Página Landing</h3>
            <div>
                Diseño y desarrollo según la 
                <a href="https://firebasestorage.googleapis.com/v0/b/bbforinvestors.appspot.com/o/Argonia%2Fhome.jpeg?alt=media&token=72fe5919-b0af-4c95-b677-1f45665d95e4" 
                    download="" target="_blank" title="Abrir imagen en nueva ventana">Hoja de análisis</a>, 
                    consta del diseño de la cabecera, cuyas imágenes las provee Rafael. 
                    Seguido de un formulario que recoge datos y genera la lista de cultivos filtrándola con los 
                    datos obtenidos con el formulario. El menú con 2 opciones habilita la navegación entre 
                    'mis cultivos' y 'la página de inicio'.
            </div>
    
            <h3>Lista de Cultivos</h3>
            <div>
                Diseño y desarrollo según la 
                <a href="https://firebasestorage.googleapis.com/v0/b/bbforinvestors.appspot.com/o/Argonia%2Fproducts.jpeg?alt=media&token=b05a46ce-8b3c-4dbc-bda5-d72055fab536" 
                    download="" target="_blank" title="Abrir imagen en nueva ventana">Hoja de análisis</a>, 
                contiene la lista de cultivos, representada en la pantalla grande como 
                Carrusel de 'tarjetas' con foto y petit descripción, separado por diferentes categorías y 
                como lista de tarjetas en versión móvil y tablet.
            </div>

            <h3>Detalles del Cultivo</h3>
            <div>
                Diseño y desarrollo según la 
                <a href="https://firebasestorage.googleapis.com/v0/b/bbforinvestors.appspot.com/o/Argonia%2Fproduct-details.jpeg?alt=media&token=293daf2a-8a6c-4e86-b0f1-93323cce531b" 
                    download="" target="_blank" title="Abrir imagen en nueva ventana">Hoja de análisis</a>, 
                es la página principal para operaciones de los usuarios. 
                Contiene una tarjeta con la imagen del cultivo, continúa con los detalles de cultivos y posteriormente, 
                a través de un formulario recoge datos de la fecha de siembra o germinación para calcular y representar 
                mediante un calendario, las fechas de cosecha. Esta cosecha, se añade en la lista de los cultivos del usuario. 
                El usuario puede finalizar este cultivo, en cualquier momento desde la lista que aparece en esta misma 
                página con todas las veces que las haya sembrado. La lista muestra, fecha de cultivo y fecha de cosecha. El 
                presupuesto no incluye la incorporación de la encuesta. Para terminar, esta página también ofrece la lista de 
                los buenos vecinos y malos vecinos a los que se puede acceder desde la misma imagen.
            </div>

            <h3>Área -Mis cultivos-</h3>
            <div>
                En esta área, el usuario podrá ver la lista de sus cultivos y entrar en los detalles del cultivo para consultar 
                su calendario. El diseño de la lista sería similar a la lista de productos anteriormente mencionada.
            </div>
            
            <h3>Dashboard administrador</h3>
            <div>
                Diseño y desarrollo según la 
                <a href="https://firebasestorage.googleapis.com/v0/b/bbforinvestors.appspot.com/o/Argonia%2Fdashboard.jpeg?alt=media&token=3fe58333-485d-4cac-8255-bf197c86ac9b" 
                    download="" target="_blank" title="Abrir imagen en nueva ventana">Hoja de análisis</a>, 
                esta página solo estará disponible al administrador. Contiene la lista de todos los cultivos y usuarios, 
                el admin podrá tanto añadir un nuevo cultivo como leer, editar o eliminar los ya existentes. Además podrá 
                consultar los principales informes relacionados al uso de la aplicación por usuarios, esta propuesta incluye 
                un máximo de 3 informes.
            </div>
            
            <h3>Usuarios</h3>
            <ul>
                <li>Crear usuario</li>
                <li>Admin role</li>
                <li>Eliminar usuario</li>
                <li>Editar perfil, cambiar contraseña</li>
                <li>Recuperación de contraseña</li>
                <li>Login google</li>
                <li>Login Facebook</li>
                <li>Login email / contraseña</li>
                <li>Verificar email</li>
            </ul>
 
            <h2>Technologías</h2>
            <p>Angular Framework</p>
            <p>Typescript</p>
            <p>Javascript</p>
            <p>Firebase</p>
            <p>Cloud storage</p>
            <p>Html</p>
            <p>Css</p>
            <p>Angular Material</p>
            
            <h2>Plazos</h2>
            <div>
                Entre 6 a 8 semanas, a partir de haber recibido el contenido y haber aceptado el presupuesto.
            </div>
 
            <h2>Presupuesto</h2> 
            <div class="pricelist">
                <div class="rates">
                    <p>Gestión del proyecto:</p><p>200€</p>
                </div>
                <div class="rates">
                    <p>Frontend:</p><p>1080€</p>    
                </div>
                <div class="rates">
                    <p>Back-office (Dashboard administrador):</p><p>840€</p>     
                </div>
                <div class="rates">
                    <p>Gestión de base de datos y backend:</p><p>240€</p>     
                </div>
                <div class="rates">
                    <p>Implantación del flujo de usuarios:</p><p>640€</p>     
                </div>
                <br>
                <div class="rates">
                    <h3>Total:</h3><h3>3000€</h3>     
                </div>

                <div class="dominio">
                    <i>* precios sin Iva. 
                        Dominio, Alojamiento y Cookies no incluidos. 
                        Para empezar la implementación del proyecto se ha de hacer el pago por adelantado del 50% del importe 
                        total (sin iva) en el momento de aceptación del presupuesto y el resto se podrá abonar una vez entregada 
                        la web y aprobada por el cliente.
                    </i>
                </div>
            </div>
 
            <h2 class="pm-150">Compromiso y Garantía</h2>
            <div>
                Para el desarrollo de esta aplicación, se implementarán las tecnologías más avanzadas existentes, 
                utilizando las mejores prácticas de código con enfoque principal en la seguridad, automatización 
                de tareas y escalabilidad. Se utilizarán estrategias como lazy-loading, pre-loading y service-workers 
                (utilizado para la instalación de la app con logotipo personalizado en mayoría de aparatos y 
                acceso offline) para sacar el máximo rendimiento. <br>
                Como proveedor del contenido, utilizaré el fake-backend, que además de un rendimiento muy alto, tiene 
                un impacto enorme en reducción de costes.<br>
                Desde la posición del programador, entiendo la importancia de imagen y sus efectos en venta, 
                por lo que estoy muy comprometido con el cumplimiento de las exigencias del cliente. 
                Me esfuerzo en proporcionar mis servicios mirando con lupa el diseño y la funcionalidad hasta 
                el más mínimo detalle y creando tanto una buena experiencia del usuario como del cliente ofreciendo 
                disponibilidad inmediata en servicios, durante el desarrollo y post venta. 
                Una vez entregada la app, quedará cubierta por el servicio postventa de por vida de forma gratuita 
                para cualquier fallo técnico de programación que pueda tener. En caso de modificaciones posteriores o anexo 
                de nuevas Ps o apartados la hora de programación se cobrará por separado.
            </div>
            <br>
            <br>
            <a class="hideOnPrint" href="../../assets/bbInv/propuesta-argonia.pdf" download="" title="Download CV">Descargar Propuesta <img src="../../assets/download.png"></a>
        </div>
    </div>
</div>