@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto Slab', serif; }
a, a:visited, a:hover {
  color: gray;
  text-decoration: none;
}
a:hover {
  color: #F16A6B;
}

.inner-container{
    background-color:white;
    max-width: 95%;
    margin: 0 auto;
  }

  .route{
    font-family: 'Montserrat', sans-serif;
    color: lightgray;
    display: flex;
    background-color: #6c757d;
    width: 100%;
    position: fixed;
    opacity: 0.9;
  }
  .back{
      background-color: white;
      padding: 4px;
      display: flex;
      align-items: center;
  }
  
  @media print {
    .hideOnPrint{
      display: none;
    }
    .divider{
      border-top: 1px solid grey;
      margin-bottom: 2px;
    }
  }